.gallery {
	width: 70vw;
	max-width: 1200px;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	background-color: #0074D9;
}

.galleryelement
{
	width: 100px;
	height: 200px;
	padding: 5px;
	margin: 5px;
}

.galleryelement p
{
	height: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: whitesmoke;

}

.thumb
{
  border-radius: 5px;
  cursor: pointer;
	opacity: 0.95;
	transform-origin: 50% 50%;
  transition: 0.5s;
	filter: blur(1px);
}

.thumb:hover
{	
	opacity: 1;
	filter: none;
	transform: scale(1.2);
}
